{% extends 'base.html' %}

{% block content %}
  <div class="center" style="display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px;">
        <button class="button"><a href="{% url 'homepage'%}">HOME</a></button>
        <button class="button"><a href="{% url 'add_tweet' id=user.id %}">TWEET</a></button>
        <button class="button"><a href="{% url 'notification'%}">NOTIFICATIONS</a></button>
        <button class="button"><a href="{% url 'authorinfo' id=user.id %}">PROFILE</a></button>
       
  </div>

    <div>
      {% if user.is_authenticated %}
      <div class="container">
        <div class="row">
          <div class="col-sm">
          <div style="display:flex; flex-direction: column; align-items: right; align-content: space-evenly; height: 210px; width: 250px;border: 1px solid black; margin: 10px; padding: 10px">
            <h4>{{ user.username }}</h4>
            <h4><a href="{% url 'authorinfo' id=user.id %}">@{{user.displayname}}</a></h4>
            <br>
            <br>
          </div>
 <button class="button"><a href="{% url 'logoutview'%}">LOGOUT</a></button>
          </div>
          <div class="col-sm">
             <h4>What people are talking about</h4>
             {% for tweet in data %}
             
  <li style="list-style-type: none; display: flex; flex-direction: column; align-items: center; height: 100px; width: 400px; ">
  <a href="{% url 'authorinfo' id=tweet.author.id %}">@{{ tweet.author }}</a>
     {{ tweet.time }}
     <a href="{% url 'tweet_detail' id=tweet.id %}">{{ tweet.tweet }}</a>
    </p>
  
 
  </li>
            
              {% endfor %}
          </div>
        </div>
      </div>
    
    </div>

     
 
    



   {% endif %}
    
{% endblock %}